<span class='userinfo'>
	<a href="<%= '/'+user.nickname %>">
		<%= showProfImage user %>
	</a>
	<span class='username'><%= link_to '@'+user.nickname, '/'+user.nickname%></span>
</span>
<br>
<span>
</span>
<span>
	<%#= pluralize(current_user.microposts.count, "micropost") %>
</span>