@import "bootstrap";

@font-face{
  font-family: "mplus-1c-thin";
  // src: url(http://l0o0l.info/material/fonts/Hannari.otf) format("opentype");
  src: url(http://l0o0l.info/material/fonts/mplus-1c-thin.ttf) format("opentype");
  font-weight: 100;
}
@font-face{
  font-family: "common_icons";
  src: url(http://l0o0l.info/material/fonts/common_icons.ttf) format("opentype");
}


.common_icons {
    font-family: 'common_icons';
    position:absolute;
    z-index:-10;
    font-size: 22px;
    margin: 0px 3px;
}

form .common_icons{
    margin:3px 11px;
}
.stars .common_icons{
color: #ACD45A;
}
.interests .common_icons{
color: #FA9696;
}
.newsfeed .comments .common_icons{
  color:#FFC661;
  font-size: 15px;
}

*{
  outline:none;
}
a{
  &:hover{
    text-decoration: none;
  }
}

body,html{
  font-weight: 100;
  font-family: sans-serif;
  word-break: break-all;
  word-break: break-word;

}
h1,h2,h3,h4,h5,h6, .content{
  font-family:"mplus-1c-thin";
}
h3{
  /*font-size: 78px;*/
  font-size: 64px;
  font-weight: 100;
  letter-spacing: -6px;
  text-align: center;
}
h1,h2{
  font-weight: 100;
}
p{
  margin:0 8px 10px;
}

ol{
  margin:30px 5px 14px 24px;
}
img{
  border-radius: 30px;
  transition:0.4s;
  &:hover{
    border-radius: 4px;
  }
}

.field span{
  display:inline;
}

.starInfo, .interestInfo{
  float: left;
  margin: 3px;
}
.star_button, .interest_button{
  float: left;
}

.interests, .interestedInfo{
  clear: both;
}
.staredInfo{
  margin:-10px 0px;
}
.closeBtn{
  border:outset 1px;
}

header{
  // font-family:"mplus-1c-light";
}
.span4{
  margin-top:15px;
  // background: #eee;
  padding: 10px;
  border-radius: 35px;
  width:283px;
  border-left: #ddd 1px solid;
  border-right: #ddd 1px solid;
  // float:right;
  .userinfo{
    text-align: center;
    margin:20px 0 -10px;
    .username{
      font-family:"mplus-1c-thin";
      font-size: 30px;
      display:inline;
      vertical-align: middle;
    }
  }
}
.span8{
  width: 600px;
  margin-left: 35px;
}
.navbar-inverse .navbar-inner{
  background:#fff;
  border-color: #fff;
}
#logo{
  text-indent: -9999px;
  width:381px;
  height:56px;
  display:block;
  background:url('http://l0o0l.info/material/images/honeyCircle_title.png');
  // font-family: "Hextremum LDR";
  color:transparent;
  float: left;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
  text-shadow: none;
  -webkit-transform:rotate(8deg);
  -moz-transform: rotate(8deg);
  padding:17px 8px 15px;
  outline: none;
  margin: 2px 5px;
  transition:0.6s;
}

input[type="submit"]{
  outline: 0px;
  z-index: 0;
  // padding: 2px 7px 2px 7px;;
}
.pagination{
  margin:60px 0 0;
}

.count{
  float: right;
  color:#888;
}
.newsfeeds {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsfeeds h3{
  margin: 25px -7px 10px;
  font-size: 48px;
  text-align: center;
}
.newsfeed{
  clear:both;
  border-top: 1px solid #eee;
  padding-top: 5px;
  height:63px;
  .common_icons{
    position: static;
    font-size: 18px;
  }
  .truncate{
    word-break: break-all;
  }
}
.flr{
  float: right;
}

.newsTimestamp{
  margin-top: 7px;
  // border-right: 1px #eee solid;
  // padding-left: 3px;
  // border-bottom: 1px #eee solid;
  // border:1px #bbb dashed;
  border-radius: 8px;
  background: #eee;
  padding:0 4px;
}

.comments li{
  clear: both;
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* miscellaneous */

.contents{
  margin-top:61px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      // font-size: 2em;
      // text-align: left;
      // letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      word-break: break-word;
    }
  }
}

.gravatar {
  float: left;
  margin: 10px;
}

/* forms */
form{
  display:inline;
  margin: 0 0 6px;
}

input, textarea, select, .uneditable-input {
  // border: 1px ridged #000 ;
  width: 100%;
  // padding: 10px;
  // margin: 15px 0;
  @include box_sizing;
  // font-family: "mplus-1c-thin";
  border-radius:22px;
  background: #fff;
  line-height: auto;
  border:1px inset #ccc;

}

input {
  border:1px outset #ccc;
  // height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    clear:both;
    img {
      margin-top: -2px;
    }
  }
}
.contentWrapper{
  margin:15px 0;
}
.content {
  // display: block;
  font-size: 32px;
  line-height: 42px;
  margin:15px 0;
}
.timestamp {
  // color: $grayLight;
  color:#fff;
  margin: 12px;
  padding: 0px 2px 1px 6px;
  float: right;
  border-radius: 10px;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


// button
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  // padding: 25px 80px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  // font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-shadow: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.85)
}
.btn-2i {
  border-radius: 50%;
  background:#0C9EE7;
  // width: 190px;
  height: 70px;
  padding: 0;
  color:#fff;
  // box-shadow: 0 4px #025883;
  outline: none;
}
.center .btn-2i{
  height:90px;
}

.btn-2i:hover {
  outline: none;
  background:#0C9EE7;
  box-shadow: 0 4px #025883;
  // top: 2px;
  color:#fff;
}

.btn-2i:active {
  background:#0C9EE7;
  box-shadow: 0 0 #025883;
  top: 4px;
  color:#fff;
}
.btn-2i:focus {
  color:#fff;
  background:#0C9EE7;
}
button.btn, input[type="submit"].btn{
  width: 70px;
}

.span4 input[type="submit"],{
  width: 70px;
  outline: 0px;
}

//2014-01-01_20-05-53
.star_submit{
  // background:url(http://l0o0l.info/material/icon/starIcon.png) no-repeat
  // background:url(http://l0o0l.info/material/icon/starIcon.png) no-repeat 8px -5px;
  padding: 2px 7px 2px 38px;
  background:transparent;
  z-index: 10;
  transition:0.4s;
  &:hover{
    border-radius: 7px;
  }
}
.interest_submit{
  // background:url(http://l0o0l.info/material/icon/interestIcon.png) no-repeat 10px 1px;
  background:transparent;
  padding: 2px 7px 2px 38px;
  z-index: 10;
  transition:0.4s;
  &:hover{
    border-radius: 7px;
  }
}


.already{
  border:1px inset #ccc;
}

.hero-unit h1{
  line-height: 78px;
}

.navbar .pull-right > li > .dropdown-menu{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
}

.hero-unit{
  background: #fff;
}

.btn-signin{
  width:105px;
  padding: 16px 4px 3px;
}

.signin{
  margin-left: 10px;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus,.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
  background-color: #333;
  border-radius: 30px;
}

/*2014-01-07*/
.notification{
  font-size: 30px;
  height: 40px;
  min-width:42px;
  font-family: "mplus-1c-thin";
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  color:#ddd;
  margin:8px 7px;
  border-radius: 8px;
  border:none;
  transition:0.8s;
  background: #E45734;
  &:hover{
    // background: #0C9EE7;
    background: #F08A2E;
    border-radius: 30px;
    color:#fff;
  }
}
// 2014-02-08
.responses{
  margin-top:30px;
}